# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

Pods
*.xcworkspace
Documentation/Generated
.sass-cache
.DS_Store
*.xcuserstate

*.xcarchive/
*.ipa
fastlane/report.xml